@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;600&display=swap');

@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}



.pagination .active>.page-link {
    background-color: #003963 !important;
    border-color: #003963 !important;
}

.pagination .page-link {
    color: #003963 !important;
}

.pagination .page-item.active .page-link {
    color: #fff !important;
}